/* @import 'reset.css'; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50vw;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    border: solid 2px rebeccapurple;
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    padding-bottom: 1em;
}

.infos,
.notas {
    width: auto;
    height: auto;
    border: solid 2px rgb(158, 110, 206);
    border-radius: 10px;
    margin: 1em;
    padding: 2em;
}

.form-group{
    padding-bottom: 1em ;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}

.media{
    display: grid;
    align-items: center;
    justify-items: center;
}

/* .form-group > input {

} */

@media(max-width:700px) {

    .container{
        width: 100vw;
    }

    .form-group > input {
        width: 40%;
        height: 20px;
    }

    .turma .form-group{
        display: flex;
        flex-direction: column;
    }
}