/* @import 'reset.css'; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 40vw;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    border: solid 2px rebeccapurple;
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    padding-bottom: 1em;
}

.infos,
.notas {
    width: auto;
    height: auto;
    border: solid 2px rgb(158, 110, 206);
    border-radius: 10px;
    margin: 1em;
    padding: 2em;
}

.form-group{
    padding-bottom: 1em ;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-group > input,
.form-group > select {
    max-width: 100%;
}

.form-group .turma > input {
    margin: 1em;
}

.container-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.media label {
    font-weight: bold;
}


@media(max-width:700px) {

    body {
        min-width: 320px;
    }

    .container{
        width: 100vw;
    }

   
}